fastapi
uvicorn[standard]
sqlmodel
greenlet
aiosqlite
asyncpg
httpx
pydantic-settings
itsdangerous
jinja2
python-multipart
beautifulsoup4
apscheduler
bcrypt
# test dependencies
respx
pytest
pytest-asyncio
