fastapi
uvicorn[standard]
sqlmodel
greenlet
asyncpg
httpx
pydantic-settings
itsdangerous
jinja2
python-multipart
beautifulsoup4
apscheduler
bcrypt
alembic
# test dependencies
respx
pytest
pytest-asyncio
